{% extends "base.html" %}

{% block title %}{{ site_name }}{% endblock %}

{% block content %}
<p class="page-title">All Posts</p>

{% if posts %}
<ul class="post-list">
  {% for post in posts %}
  <li class="post-list-item">
    <div class="post-list-meta">
      <span class="post-date">{{ post.date.strftime("%B %-d, %Y") }}</span>
      {% if post.type %}
      <a href="{{ root_path }}types/{{ post.type | slugify }}/" class="type-tag">{{ post.type }}</a>
      {% endif %}
      {% if post.categories %}
      <div class="post-categories">
        {% for cat in post.categories %}
        <a href="{{ root_path }}categories/{{ cat | slugify }}/" class="category-tag">{{ cat }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <a href="{{ root_path }}posts/{{ post.slug }}/">
      <h2 class="post-list-title">{{ post.title }}</h2>
    </a>
    {% if post.description %}
    <p class="post-list-description">{{ post.description }}</p>
    {% endif %}
    {% if post.author %}
    <p class="post-author">by {{ post.author }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="empty-state">No posts yet.</div>
{% endif %}
{% endblock %}
